.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #121214;
  color: white;
}
.title {
  color: white;
  font-size: 50px;
  font-size: 2.5rem;
  line-height: 0.6;
  margin-top: 20px;
}
fieldset {
  border: 0;
}
fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}
.form strong {
  color: #1888ff;
}

#nome {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 28px;
}
#qtd {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 28px;
}
#preco {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 28px;
}
#dt {
  margin: 12px;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 28px;
}

.title p {
  color: white;
  background-color: transparent;
  font-size: 50px;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 400;
}

.calcular {
  width: 250px;
  height: 40px;
  margin-top: 25px;
  font-size: 30px;
}

.grupo {
  border: solid 1px;
  border-radius: 0px 20px 0px 20px;
  padding: 20px;
}

.grupo strong {
  color: #1888ff;
}

.title strong {
  color: #1888ff;
}

.title center {
  color: #1888ff;
}

.form h3 {
  margin: 2px;
  font-size: 30px;
}

.home {
  background-image: url("../../images/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 50px;
  height: 100vh;
}

@media screen and (max-width: 960px) {
  .home {
    background-image: url("../../images/img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 50px;
    height: 100vh;
    margin: 20px;
  }
}

#result {
  color: #1888ff;
}

.second {
  font-size: 30px;
}
